<template>
  <div class="login_All flex jc ac">
    <div class="card">
      <div class="cardTop flex">
        <div
          v-for="(item,index) in tabList"
          :key="index"
          class="tabOne flex jc ac"
          @click="choiceOne(index)"
          :class="{'bgd':key === index}"
        >{{item.tab}}</div>
      </div>
      <!-- 登录 -->
      <div v-if="key===0">
        <loginIn></loginIn>
      </div>
      <!-- 注册 -->
      <div v-if="key===1" class="login">
        <el-form ref="ruleForm" :model="form" :rules="rules">
          <el-form-item class="form-item" ref="phone" name="phone" prop="phone">
            <el-input v-model="form.phone" placeholder="用户手机号" />
          </el-form-item>

          <el-form-item class="form-item" ref="code" name="code" prop="code">
            <el-input v-model="form.code" placeholder="验证码" class="inputOne" />
            <el-button
              style="width: 132px"
              type="info"
              @click="handleClick"
              v-show="Verification"
              plain
            >&nbsp;&nbsp;发送验证码&nbsp;&nbsp;&nbsp;</el-button>
            <el-button style="background:#F5F7FA;margin-left: -10px;" v-show="!Verification" disabled>
              <span>{{timer}}</span>秒后重新获取
            </el-button>
          </el-form-item>

          <el-form-item class="form-item" ref="username" name="username" prop="username">
            <el-input v-model="form.username" placeholder="昵称" />
          </el-form-item>

          <el-form-item class="form-item" required has-feedback ref="password" name="password" prop="password">
            <el-input
              v-model="form.password"
              placeholder="密码"
              autocomplete="off"
            />
          </el-form-item>

          <el-form-item class="form-item" has-feedback ref="checkPass" name="checkPass" prop="checkPass">
            <el-input
              v-model="form.checkPass"
              placeholder="再次输入密码"
              autocomplete="off"
            />
          </el-form-item>
          <el-button type="primary" class="submit" @click="onSubmit">注册</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import { defineComponent, reactive, toRefs, SetupContext, ref } from "vue";
import { Rules,Res } from "@/types/index";
import { Form, message } from "ant-design-vue";
import loginIn from "@/components/loginIn.vue";
import api from "@/http/api";
message.config({
  duration: 2,// 持续时间
  top:`100px`, // 到页面顶部距离
  maxCount: 1 // 最大显示数, 超过限制时，最早的消息会被自动关闭
})
interface Data {
  tabList: object[];
  key: number;
  Verification: boolean;
  phone: string;
  timer: number;
  code: string;
  form: {
    phone: string;
    code: string;
    username: string;
    password: string;
    checkPass: string;
  };
  rules: Rules;
}
export default defineComponent({
  name: "",
  props: {},
  components: {
    loginIn,
  },
  mounted() {

  },
  setup(props, ctx: SetupContext) {
    const data: Data = reactive<Data>({
      tabList: [
        {
          tab: "登录",
        },
        {
          tab: "注册",
        },
      ],
      Verification: true,
      timer: 60, //定义初始时间为60s
      key: 0,
      phone:"",
      code: "",
      form: {
        phone: "",
        code: "",
        username: "",
        password: "",
        checkPass: "",
      },
      rules: {
        phone:[
          {
            required: true,
            message: "请输入手机号码",
            trigger: "blur",
          },
          {
            pattern: /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/,
            message: "手机号格式不对",
            trigger: ["blur", "change"],
          },
        ],
        code: [
          {
            required: true,
            message: "请输入验证码",
            trigger: "blur",
          },
        ],
        username: [
          {
            required: true,
            message: "请输入昵称",
            trigger: "blur",
          },
        ],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur",
          },
        ],
        checkPass: [
          {
            required: true,
            message: "请再次输入密码",
            trigger: "blur",
          },
          {
            validator: (rule: any, value: any, callback: any) => {
              if (value === "") {
               return Promise.reject("请再次输入密码");
              } else if (value !== data.form.password) {
                return Promise.reject("两次输入密码不一致");
              } else {
                return Promise.resolve();
              }
            },
            trigger: "blur",
          },
        ],
      },
    });
    const ruleForm = ref();
    const choiceOne = (index: number): void => {
      data.key = index;
    };
    const handleClick = (): void => {
      if (data.form.phone !== "") {
        const regExp = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/;
          if (regExp.test(data.form.phone)) {
            api
                    .getCaptchas(data.form.phone)
                    .then((res: any) => {
                      if (res.code === 200) {
                        data.Verification = false; //点击button改变v-show的状态
                        const authTimer = setInterval(() => {
                          //定时器设置每秒递减
                          data.timer--; //递减时间
                          if (data.timer <= 0) {
                            data.Verification = true; //60s时间结束还原v-show状态并清除定时器
                            data.timer = 60;
                            clearInterval(authTimer);
                          }
                        }, 1000);
                        console.log(res);
                        message.success(res.msg);
                        data.code = res.code;
                        data.phone = res.phone
                      }
                      if (res.code === 400) {
                        message.error(res.msg);
                      }
                    })
                    .catch((err: Error) => {
                      console.log(err);
                    });
            } else {
            return
          }
      }
      if (data.form.phone === "") {
        message.warning("请输入手机号");
      }
    };
    const onSubmit = (): void => {
      // console.log(ruleForm.value);
      // ruleForm.value
        // .validate()
        // .then(() => {
          // console.log("values", data.form);
          // if (data.form.code !== data.code) {
          //   message.error("验证码输入不正确");
          // } else {
      ruleForm.value.validate((valid:any) => {
        if (valid) {
          api
                  .register({
                    phone: data.form.phone,
                    username: data.form.username,
                    code: data.form.code,
                    password: data.form.password,
                  })
                  .then((res: Res) => {
                    console.log(res);
                    message.success("注册成功");
                    data.key = 0
                    ruleForm.value.resetFields()
                  })
                  .catch((err: Error) => {
                    console.log(err);
                  });
        }
      })
          // }
        // })
        // .catch((error: Error) => {
        //   console.log("error", error);
        // });
    };

    return {
      ...toRefs(data),
      choiceOne,
      onSubmit,
      handleClick,
      ruleForm,
    };
  },
});
</script>

<style scoped lang='scss'>
.login_All {
  background: url(http://157.122.54.189:9095/assets/images/th03.jfif) center 0;
  height: 700px;
  min-width: 1000px;
}
.card {
  width: 400px;
  background: #fff;
}
.cardTop {
  height: 50px;
  background: rgb(238, 238, 238);
}
.tabOne {
  width: 50%;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}
.bgd {
  background: #fff;
  color: rgb(255, 165, 0);
  font-weight: 600;
  border-top: 2px solid rgb(255, 165, 0);
}
.signBtn {
  width: 100%;
}
.inputOne {
  width: 218px !important;
}
.fasong {
  width: 131px;
}
.login {
  padding: 25px;
}
.form-item{
  margin-bottom:20px;
}
.submit{
  width:100%;
  margin-top:10px;
}
</style>