<template>
  <div class="post_All flex jc">
    <div class="postBox flex jsb">
      <div class="postLeft">
        <div class="cityList pore">
          <div
            v-for="(item,index) in cityList"
            :key="index"
            class="listItem flex jsb ac"
            :class="{'borderTop':index ===3}"
            @mouseenter="fingerIn(index)"
            @mouseleave="fingerOut"
          >
<!--            <div>{{item.type}}</div>-->
            <div>
              <RightOutlined class="RightOutlined" />
            </div>
            <div class="tiao poab" v-if="fleg === index"></div>
            <div class="hot poab" v-if="fleg === index">
              <div
                v-for="(item1,index1) in item.children"
                :key="index1"
                class="childrenItem flex ac"
              >
                <div class="index">{{index1 + 1}}</div>
                <div class="cityName" @click="sousuo(item1)">{{item1.city}}</div>
                <div class="cityDesc" @click="sousuo(item1)">{{item1.desc}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="recommend">
          <div class="recommendCity flex ac">推荐城市</div>
          <img src="http://157.122.54.189:9093/images/pic_sea.jpeg" alt class="recommendImg" />
        </div>
      </div>
      <div class="postRight">
        <div class="pore">
          <input
            v-model="value"
            placeholder="输入想去的地方，比如：‘成都’"
            class="input"
            @keydown.enter="pressEnter"
          />
          <SearchOutlined class="SearchOutlined poab" @click="onSearch" />
        </div>
        <div class="proposal flex ac">
          <div>推荐：</div>
          <div v-for="(item,index) in proposal" :key="index" class="proposalItem" @click="again(item)">{{item}}</div>
        </div>
        <div class="news flex jsb">
          <div class="StrategyTitle">推荐攻略</div>
          <div>
            <a-button type="primary" size="large" @click="goCreate">
              <template v-slot:icon>
                <EditOutlined />
              </template>写游记
            </a-button>
          </div>
        </div>

        <div
          v-for="(item,index) in postsList.slice((pageNumber-1)*pageSize,pageNumber*pageSize)"
          :key="index"
          class="postsList"
        >
          <div v-if="item.images.length > 1">
            <div class="title" @click="goDetail(item)">{{item.title}}</div>
            <div class="summary" @click="goDetail(item)">{{item.summary}}</div>
            <div class="flex jsb">
              <div v-for="(item1,index1) in item.images.slice(0,3)" :key="index1" class="imgAll">
                <img :src="item1.url" class="images"  @click="goDetail(item)" v-if="item1 != null"/>
              </div>
            </div>
            <div class="nameAll flex ac jsb">
              <EnvironmentOutlined />
              <div>泉州</div>
              <div>by</div>
              <img
                src="/img/bg3.jpg"
                alt
                class="defaultAvatar bdrr50"
              />
              <div class="nickname">111111</div>
              <EyeOutlined />
              <div>{{item.watch}}</div>
            </div>
          </div>

          <div v-if="item.images.length < 2" class="flex">
            <img :src="item.images[0].url" alt class="imagesTwo"  @click="goDetail(item)" v-if="item.images[0] != null"/>
             <img src="../assets/zanwu.jpg" class="imagesTwo" alt="" v-if="item.images[0] == null">
            <div class="newsAll">
              <div class="title thidden-one"  @click="goDetail(item)">{{item.title}}</div>
              <div class="summary"  @click="goDetail(item)">{{item.summary}}</div>
              <div class="nameAll flex ac jsb">
                <EnvironmentOutlined />
                <div>泉州</div>
                <div>by</div>
                  <img
                          src="/img/bg3.jpg"
                          alt
                          class="defaultAvatar bdrr50"
                  />
                <div class="nickname">111</div>
                <EyeOutlined />
                <div>{{item.watch}}</div>
              </div>
            </div>
          </div>
        </div>

        <!-- 分页器 -->
        <div class="fenye">
          <a-pagination
            :total="total"
            :show-total="total => `共 ${total} 条`"
            :page-size="pageSize"
            :page-size-options="pageSizeOptions"
            v-model:current="current"
            v-model:pageSize="pageSize"
            show-size-changer
            show-quick-jumper
            @showSizeChange="onShowSizeChange"
            @change="onChange"
          >
            <template v-slot:buildOptionText="props">
              <span v-if="props.value !== '20'">{{ props.value }}条/页</span>
              <span v-else>全部</span>
            </template>
          </a-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import {
  defineComponent,
  reactive,
  toRefs,
  SetupContext,
  onMounted,
} from "vue";
import api from "@/http/api";
import { Rescity, RescityItem, PostRes, PostItem } from "@/types";
import { useRoute, useRouter } from "vue-router";
interface Data {
  cityList: RescityItem[];
  fleg: number;
  value: string;
  proposal: string[];
  // city: number | string;
  postsList: object[];
  total: number;
  current: number;
  pageSize: number;
  pageSizeOptions: string[];
  pageNumber: number;
}
export default defineComponent({
  props: {},
  components: {},
  setup(props, ctx: SetupContext) {
    const route = useRoute();
    const router = useRouter()
    const data: Data = reactive<Data>({
      cityList: [],
      fleg: -1,
      value: "",
      proposal: ["北京", "广州", "成都"],
      // city: "北京",
      postsList: [
        {
          id: "",
          title: "",
          summary: "",
          name: "",
          cityId:0,
          images: [
              {
                  id:"",
                  url:"",
              }
          ],
          phone:"",
          watch: 0,
          content: "",
          updatedAt:"",
        },
      ],
      total: 0,
      current: 1,
      pageSize: 3,
      pageNumber: 1,
      pageSizeOptions: ["3", "5", "10", "20"],
    });
    const fingerIn = (index: number): void => {
      data.fleg = index;
    };
    const fingerOut = (): void => {
      data.fleg = -1;
    };
    const getPost = (): void => {
      api
        .getPosts(data.value)
        .then((res: PostRes) => {
          console.log(res);
          data.postsList = res.data;
          data.postsList.map((item: any, index: number) => {
              if (index > 0) {
                item.images = [
                  "/img/bg3.jpg"
                ];
              }
            });
          data.total = res.total;
        })
        .catch((err: Error) => {
          console.log(err);
        });
    };
    const onShowSizeChange = (current: number, pageSize: number): void => {
        data.pageNumber = 1;
        data.pageSize = pageSize
    };
    const onChange = (pageNumber: number): void => {
      // console.log("Page: ", pageNumber);
      data.pageNumber = pageNumber;
    };
    const onSearch = (): void => {
      console.log(data.value);

      if (data.value !== "") {
        getPost();
      }
      if (data.value === "") {
        // 文章列表
        api.getPostAll().then((res: PostRes) => {
          console.log(res);
          data.postsList = res.data;
          data.postsList.map((item: any, index: number) => {
            if (index > 3) {
              item.images = [
                "/img/bg3.jpg"
              ];
            }
          });
          data.total = res.total;
          // console.log(data.postsList);
        });
      }
    };
    const pressEnter = (e: any): void => {
      console.log(e.target.value);
      if (data.value !== "") {
        api
          .getPosts(e.target.value)
          .then((res) => {
            console.log(res);
            data.postsList = res.data;
            data.postsList.map((item: any, index: number) => {
              if (index > 0) {
                item.images = [
                  "/img/bg3.jpg"
                ];
              }
            });
            data.total = res.total;
          })
          .catch((err: Error) => {
            console.log(err);
          });
      }
      if (data.value === "") {
        // 文章列表
        api.getPostAll().then((res: PostRes) => {
          console.log(res);
          data.postsList = res.data;
          data.postsList.map((item: any, index: number) => {
            if (index > 3) {
              item.images = [
                "/img/bg3.jpg"
              ];
            }
          });
          data.total = res.total;
          // console.log(data.postsList);
        });
      }
    };
    const sousuo = (item1: any): void => {
      // console.log(item1);
      data.value = item1.city
      getPost()
    }
    const goCreate = (): void => {
      router.push('/post/create')
    }
    const again = (item: any): void => {
      // console.log(item);
      data.value = item
       getPost()
    }
    const goDetail = (item: any): void => {
      console.log(item);
      router.push({path:'/post/detail',query:{id:item.id}})
    }
    onMounted(() => {
      // 城市菜单列表
      api
        .getCityList()
        .then((res: Rescity) => {
          console.log(res);
          data.cityList = res.data;
        })
        .catch((err: Error) => {
          console.log(err);
        });

      console.log(route.query);
      if (route.query.keyword) {
        data.value = route.query.keyword as string;
      }
      if (data.value === "") {
        // 文章列表
        api.getPostAll().then((res: any) => {
          console.log("res",res);
          let posts = res.data;
          // console.log("post:",data.postsList);
            let tempList:any[] = [];
            posts.forEach((item:any) => {
              console.log("item:" + item);
              tempList.push(item);
            })
            data.postsList = tempList;
          data.postsList.map((item: any, index: number) => {
            if (index > 3) {
              item.images = [
                "../img/bg3.jpg",
              ];
            }
          });
          data.total = 4;
          console.log(data.postsList);
        });
      }
      if (data.value !== "") {
        getPost()
      }
    });
    return {
      ...toRefs(data),
      fingerIn,
      fingerOut,
      getPost,
      onShowSizeChange,
      onChange,
      onSearch,
      pressEnter,
      sousuo,
      goCreate,
      again,
      goDetail
    };
  },
});
</script>

<style scoped lang='scss'>
.post_All {
  width: 100%;
  // height: 500px;
  margin-top: 20px;
}
.postBox {
  width: 1000px;
  height: 100%;
}
.postLeft {
  width: 280px;
  height: 100%;
}
.postRight {
  width: 680px;
  height: 100%;
}
.cityList {
  width: 100%;
  color: #000;
}
.recommend {
  width: 100%;
  color: #000;
}
.listItem {
  width: 100%;
  height: 50px;
  border: 1px solid #c9c9c9;
  background: #fff;
  padding: 0 20px;
  border-bottom: none;
  &:hover {
    color: rgb(255, 165, 0);
    border-right: 1px solid #fff;
    .RightOutlined {
      color: rgb(255, 165, 0);
    }
  }
}
.RightOutlined {
  color: #999;
}
.recommendCity {
  height: 50px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 16px;
  margin-bottom: 10px;
}
.recommendImg {
  width: 100%;
  height: 180px;
}
.borderTop {
  border-bottom: 1px solid #c9c9c9;
}
.hot {
  width: 330px;
  height: 250px;
  background: #fff;
  left: 279px;
  top: 0;
  border: 1px solid #c9c9c9;
  z-index: 1;
}
.childrenItem {
  width: 100%;
  height: 50px;
  padding: 20px;
}
.index {
  font-size: 24px;
  font-style: italic;
}
.cityName {
  margin: 0 10px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.cityDesc {
  color: rgb(83, 83, 83);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.tiao {
  width: 1px;
  height: 50px;
  background: #fff;
  right: 0px;
  z-index: 2;
}
.input {
  border: 5px solid orange;
  height: 40px;
  width: 100%;
  padding: 20px;
  &:focus {
    outline: none;
  }
}
.SearchOutlined {
  right: 20px;
  bottom: 14px;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}
.proposal {
  font-size: 12px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.proposalItem {
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    color: orange;
    text-decoration: underline;
  }
}
.StrategyTitle {
  height: 40px;
  border-bottom: 1px solid orange;
  font-size: 18px;
}
.news {
  border-bottom: 1px solid #c9c9c9;
}
.imgAll {
  width: 31%;
  height: 150px;
  margin-bottom: 10px;
}
.images {
  width: 100%;
  height: 150px;
  &:hover {
    cursor: pointer;
  }
}
.summary {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 10px 0;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}
.defaultAvatar {
  width: 20px;
  height: 20px;
}
.nameAll {
  width: 250px;
}
.postsList {
  padding: 20px 0;
  border-bottom: 1px solid #c9c9c9;
}
.title {
  font-size: 18px;
  color: #000;
  &:hover {
    cursor: pointer;
    color: orange;
  }
}
.imagesTwo {
  width: 211px;
  height: 150px;
}
.newsAll {
  padding: 0 10px;
  width: 469px;
}
.nickname {
  color: orange;
}
.fenye {
  margin: 20px 0;
}
</style>