<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2021-05-03 18:23:41
 * @LastEditors: sueRimn
 * @LastEditTime: 2021-05-03 20:14:20
-->
<template>
    <div>
        <div class="main">
            <div class="img"></div>
            <div class="container">
                <div class="photo-container">
                    <img src="../assets/cat.jpg" alt="">
                </div>
                <h3 class="title"></h3>
                <p class="category"></p>
                <div class="content">
                    <div class="social-description">
                        <h2>10</h2>
                        <p>Colletcions</p>
                    </div>
                    <div class="social-description">
                        <h2>5</h2>
                        <p>Tickets</p>
                    </div>
                    <div class="social-description">
                        <h2>10</h2>
                        <p>Articles</p>
                    </div>
                </div>
                <div style="margin-top:30px">
                    <el-tag
                        v-for="item in items"
                        :key="item.label"
                        :type="item.type"
                        effect="dark"
                        class="tag"
                    >
                        {{ item.label }}
                    </el-tag>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container-1">
                <div class="button-container">
                    <a href="#button" class="btn btn-primary btn-round btn-lg">关注</a>
                </div>
                <h3 class="title">作者简介</h3>
                <h5 class="description">
                    An artist of considerable range, Ryan — the name taken by
                    Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                    records all of his own music, giving it a warm, intimate feel with a
                    solid groove structure. An artist of considerable range.
                </h5>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <h4 class="title text-center">我的攻略</h4>
                        <br><br>
                    </div>
                    <div class="col-md-10 ml-auto mr-auto"></div>
                    <div class="col-md-6 ml-auto mr-auto">
                        <h4 class="title text-center">我的收藏</h4>
                        <br><br>
                    </div>
                    <div class="col-md-10 ml-auto mr-auto"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return{
                items: [
                    { type: '', label: '标签一' },
                    { type: 'success', label: '标签二' },
                    { type: 'info', label: '标签三' },
                    { type: 'danger', label: '标签四' },
                    { type: 'warning', label: '标签五' }
                ]
            }
        },
        computed: {
            ...mapGetters([
                // 'userName',
                // 'id'
            ])
        },
        created() {
           
        },
        mounted(){
           
        },
        methods: {
           
        }
    };
</script>
<style>
.main{
    min-height: 550px;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    padding: 0;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    width:100%;
}
.main::before{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}
.img{
    background-image: url('../assets/bg5.jpg');
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.container{
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    padding-top: 12vh;
    padding-bottom: 40px;
}
.photo-container{
    width: 123px;
    height: 123px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.photo-container img{
    max-width: 100%;
    border-radius: 1px;
    vertical-align: middle;
    border-style: none;
}
.title{
    text-align: center;
    margin-top: 30px;
}
.content{
    max-width: 450px;
    margin: 0 auto;
}
.social-description{
    display: inline-block;
    max-width: 150px;
    width: 145px;
    text-align: center;
    margin: 15px 0 0px;
}
.social-description h2{
    margin-bottom: 15px;
    font-size: 2.5em;
    font-size: 2.5em;
    color: #fff;
}
.social-description p{
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
}
.section{
    padding: 70px 0;
    position: relative;
    background: #FFFFFF;
}
.section .container-1{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.button-container{
    text-align: center;
    margin-top: -106px;
}
.btn{
    cursor: pointer;
    font-size: 1em;
    padding: 15px 48px;
    border-width: 1px;
    border-radius: 30px !important;
    background-color: #f96332;
    color: #FFFFFF;
    line-height: 1.35em;
    margin: 10px 1px;
    border: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    touch-action: manipulation;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
    display: inline-block;
}
.btn:hover{
    opacity: 1;
    outline: 0 !important;
    background-color: #fa7a50;
    color: #FFFFFF;    
    text-decoration: none;
}
.container-1 .title{
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    padding-top: 30px;
    font-size: 1.825em;
    margin-bottom: 30px;
    line-height: 1.4em;
}
.description{
    max-width: 700px;
    margin: 20px auto 75px;
    text-align: center;
    color: #9A9A9A;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.4em;
}
.tag + .tag{
    margin-left:10px;
}
</style>
