<template>
    <div class="flex jc" style="margin-top:20px">
        <div class="createBox flex jsb">
            <div class="createOne">
                <div style="font-size:24px;color:#000">发表新攻略</div>
                <div style="font-size:13px;color:#777;margin:10px 0">分享你的个人游记，让更多人看到哦！</div>
                <el-input v-model="title" placeholder="请输入标题" />
                    <editor
                            :api-key="apiKey"
                            :init="editConfig"
                            v-model="content"
                    />
                <div class="flex ac" style="margin-top: 10px">
                    <div style="font-size:18px;margin-right:20px">选择城市</div>
                    <el-cascader style="width: 300px;"
                                 ref="cascader"
                                 placeholder="搜索城市"
                                 :options="cascaderData"
                                 filterable
                    >
                    </el-cascader>
                </div>
                <div class="flex ac" style="margin:15px 0">
                    <a-button type="primary" @click="release">发布</a-button>
                    <div style="margin:0 10px">或者</div>
                    <div style="color:orange">保存到草稿箱</div>
                </div>
            </div>
            <div class="createTwo">
                <div>草稿箱</div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "@/http/api";
    import axios from 'axios'
    import Editor from '@tinymce/tinymce-vue'
    export default {
        components: {
            'editor': Editor
        },
        mounted() {
            this.getNodes()
        },
        data() {
            return {
                cascaderData: [],
                title: "",
                content: "",
                apiKey: "fmpe10wgtn5cy4tq0quwhxd21a2mb6z7pwuf0zsut09xk039", //key值从官网注册申请来的
                editConfig: {
                    height: 500, //富文本高度
                    language_url: '/tinymce/zh_CN.js', //中文包
                    language: 'zh_CN', //中文
                    browser_spellcheck: true, // 拼写检查
                    branding: false, // 去水印
                    elementpath: true, //禁用编辑器底部的状态栏
                    statusbar: true, // 隐藏编辑器底部的状态栏
                    paste_data_images: true, // 是否允许粘贴图像
                    menubar: true, // 隐藏最上方menu
                    fontsize_formats: '14px 16px 18px 20px 24px 26px 28px 30px 32px 36px', //字体大小
                    font_formats:'微软雅黑=Microsoft YaHei,Helvetica Neue;PingFang SC;sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun;serifsans-serif;Terminal=terminal;monaco;Times New Roman=times new roman;times', //字体
                    file_picker_types: 'image',
                    images_upload_credentials: true,
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount',
                    ],
                    toolbar: 'fontselect fontsizeselect link lineheight forecolor backcolor bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | image quicklink h2 h3 blockquote table numlist bullist preview fullscreen',
                    // 图片上传三个参数，图片数据，成功时的回调函数，失败时的回调函数
                    images_upload_handler: function(blobInfo, success, failure) {
                        let formData = new FormData();
                        formData.append("file", blobInfo.blob());
                        // 上传图片接口，跟后端同事协调上传图片
                        // http://hh.xxxx.cn/admin/upload为上传图片接口
                        axios.post('http://localhost/posts/saveImg',formData, {headers: {'Content-Type': 'multipart/form-data'}})
                            .then(function(res) {
                                console.log(res.data);
                                success(res.data.data);
                            }).catch(res => {
                            failure("error");
                        });
                    }
                }
            }
        },
        methods: {
            getNodes() {
                api
                    .getCityList()
                    .then(response => {
                        this.cascaderData = eval(response.data.data);
                    }).catch((err) => {
                    console.log(err);
                });
            },
            release() {
                console.log(this.title);
                console.log(this.content);
                api
                    .insertPost(this.title, "15359528109", this.content)
                    .then(response => {
                    console.log(response.data.data);
                }).catch((err) => {
                    console.log(err);
                });
            },
        }
    }
</script>
<style scoped lang='scss'>
    .createBox {
        width: 1000px;
    }
    .createOne {
        width: 740px;
    }
    .createTwo {
        width: 240px;
    }
    .xieBox {
        width: 100%;
        height: 400px;
        border: 1px solid #999;
        margin: 20px 0;
    }
    .format {
        padding: 20px 10px;
        border-bottom: 1px solid #999;
    }
    .write {
        width: 100%;
        height: 344px;
        padding: 20px;
        &:focus {
            outline: none;
        }
    }
</style>