<template>
  <center>
      <div class="block casecader">
          <span class="demonstration">选择城市</span>
          <el-cascader style="width: 1040px;"
                  ref="cascader"
                  placeholder="搜索城市"
                  :options="cascaderData"
                  :props="{ multiple: true }"
                  filterable
                  @change="setMarker"
          >
          </el-cascader>
          <el-button type="primary" round @click="drawRoute">规划路线</el-button>
      </div>
      <div style="margin-top:30px">
        <div v-if="activities.length > 0" style="width:300px;margin-top:10px;display:inline-block;vertical-align:top">
            <div style="width:300px;padding:0 50px;">
                <div style="font-size:20px;color:#333;margin-bottom:30px;">最佳路线</div>
                <el-timeline>
                    <el-timeline-item
                    v-for="(activity, index) in activities"
                    :key="index"
                    :icon="activity.icon"
                    :type="activity.type"
                    :color="activity.color"
                    :size="activity.size"
                    :timestamp="activity.timestamp">
                    {{activity.content}}
                    </el-timeline-item>
                </el-timeline>
            </div>
        </div>
        <div style="display:inline-block;width:1200px;vertical-align:top">
            <div id="container"></div>
        </div>
      </div>
    </center>
</template>

<script>
    import api from "@/http/api";
    import qs from 'qs';
      export default {
          data() {
              return {
                  map: null,
                  props: {multiple: true},
                  cascaderData: [],
                  selectedCity: [],
                  positions:[],
                  areaList:[],
                  bestRouteText:'',
                  activities: [],
                  drivingAll:null,
              };
          },
          mounted() {
              //   页面加载完,开始异步引入高德地图
              //创建了一个回调函数,高德地图加载完毕会调用
              let _this = this;
              window.onLoad = function () {
                  // 所有关于地图的逻辑全部都要写在这个回调里面
                  // 保证高德地图加载完毕
                  _this.map = new AMap.Map("container", {
                      expandZoomRange:true,
                      zooms:[3,15],
                      zoom: 5, //级别
                      center: [103.82, 36.07], //中心点坐标
                      viewMode: "3D", //使用3D视图
                  });
                  // 插件的添加,第一个参数为插件名,第二个为回调函数
                  AMap.plugin("AMap.ToolBar", function () {
                      //异步加载插件
                      let toolbar = new AMap.ToolBar();
                      _this.map.addControl(toolbar);
                  });
              };
              // key是申请的值
              let url =
                  "https://webapi.amap.com/maps?v=1.4.15&key=a8fbe6108b7cadbf903333a2d18c3138&callback=onLoad&plugin=AMap.Driving";
              //创建一个 script dom元素
              // doc需要补全document
              let jsapi = document.createElement("script");
              //设定script标签属性
              jsapi.charset = "utf-8";
              jsapi.src = url;
              //将API文件引入页面中,加载完毕以后会调用函数
              document.head.appendChild(jsapi);

              this.getNodes();
          },
          methods: {
              setMarker() {
                  const nodesInfo = this.$refs['cascader'].getCheckedNodes();
                  this.selectedCity = [];
                  for (let i = 0; i < nodesInfo.length; i++) {
                      this.selectedCity.push(nodesInfo[i].pathLabels)
                  }
                  let cityList = this.selectedCity;
                  if (this.positions != null) {
                      this.map.remove(this.positions);
                      this.positions = [];
                      this.areaList = [];
                  }
                  for (let i = 0; i < cityList.length; i++) {
                      let city = cityList[i][1];
                      let county = cityList[i][2];
                      api
                          .getCityPosition(city,county)
                          .then(response => {
                              let area = response.data.data;
                              console.log(area.longitude);
                              console.log(area.latitude);
                              let marker = new AMap.Marker({
                                  position: new AMap.LngLat(area.longitude, area.latitude),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                                  title: area.county,
                              });
                              // 将创建的点标记添加到已有的地图实例：
                              this.map.add(marker);
                              this.areaList.push(area);
                              this.positions.push(marker);
                              //构造路线导航类
                              // let driving = new AMap.Driving({
                              //     map: this.map,
                              //     hideMarkers:true,
                              // });
                              // driving.search(
                              //     new AMap.LngLat(116.379028, 39.865042), new AMap.LngLat(116.379028, 39.865042),
                              //     {
                              //         waypoints:[new AMap.LngLat(116.379028, 39.885042)]
                              //     }
                              // )
                              // this.map.remove(new AMap.LngLat(116.379028, 39.865042));
                              // this.map.remove(new AMap.LngLat(116.379028, 39.865042));
                          }).catch((err) => {
                          console.log(err);
                      });
                  }
              },
              drawRoute() {
                  let areas = this.areaList
                  api
                      .drawRoute(JSON.stringify(areas))
                      .then(response => {
                          let area = response.data.data;
                          console.log(area)
                          let lngLat = [];
                          this.bestRouteText = "最佳路线：";
                          let arrTemp = []
                          area.forEach(item => {
                                  lngLat.push(new AMap.LngLat(item.longitude, item.latitude));
                                  arrTemp.push({
                                    content: item.county + '(' + item.province + '/' + item.city + ')',
                                    color: '#0bbd87'
                                  })
                          })
                          this.activities = arrTemp;
                          let start = lngLat[0];
                          let end = lngLat[lngLat.length - 1];
                          console.log(start)
                          console.log(end)
                          lngLat.splice(0,1);
                          lngLat.splice(lngLat.length-1,1);
                          console.log(lngLat)
                          console.log(this.drivingAll);
                          if(this.drivingAll)
                          {
                              //调用clear()函数清除上一次结果，可以清除地图上绘制的路线以及路径文本结果
                              this.drivingAll.clear();
                              console.log("执行clear")
                          }
                          this.drivingAll = new AMap.Driving({
                              map: this.map,
                              hideMarkers:true,
                          });
                          this.drivingAll.search(
                              start, end,
                              {
                                  waypoints:lngLat
                              }
                          )
                      }).catch((err) => {
                      console.log(err);
                  });
              },
              getNodes() {
                  api
                      .getCityList()
                      .then(response => {
                          this.cascaderData = eval(response.data.data);
                      }).catch((err) => {
                      console.log(err);
                  });
              },
          }
      }
</script>

.<style lang="less" scoped>
    .casecader {
        margin-top: 30px;
    }
  #container {
    width: 1200px;
    height: 530px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
</style>