<template>
  <div>
    <el-form class="form" ref="ruleForm" :model="form" :rules="rules">
      <el-form-item class="form-item" ref="phone" name="phone" prop="phone">
        <el-input v-model="form.phone" placeholder="手机号" />
      </el-form-item>

      <el-form-item class="form-item" required has-feedback ref="password" name="password" prop="password">
        <el-input v-model="form.password" type="password" placeholder="密码"  autocomplete="off" />
      </el-form-item>

      <p class="form-text">
        <a href="#">忘记密码</a>
      </p>
      <el-button class="submit" type="primary" @click="login">登录</el-button>
    </el-form>
  </div>
</template>

<script lang='ts'>
  import { defineComponent, reactive, toRefs, SetupContext,ref } from "vue";
  import { Rules,Res } from "@/types";
  import api from "@/http/api.ts";
  import {useRouter} from 'vue-router'
  import {message} from "ant-design-vue";
  import {mapState,mapGetters,mapActions} from "vuex";

  message.config({
    duration: 2,// 持续时间
    top:`100px`, // 到页面顶部距离
    maxCount: 1 // 最大显示数, 超过限制时，最早的消息会被自动关闭
  })
  interface Data {
    form: {
      phone: string;
      password: string;
    };
    rules: Rules;
  }
  export default defineComponent({
    name: "",
    props: {},
    components: {},
    mounted() {
      const router = useRouter()
      if (localStorage.getItem("user")) {
        // console.log(localStorage.getItem("user"))
        router.push('/');
      }
    },
    setup(props, ctx: SetupContext) {
      const router = useRouter()
      const data: Data = reactive<Data>({
        form: {
          phone: "",
          password: "",
        },
        rules: {
          password: [
            {
              required: true,
              message: "请输入密码",
              trigger: "blur",
            },
          ],
          phone: [
            {
              required: true,
              message: "请输入手机号",
              trigger: "blur",
            },
          ],
        },
      });
      const ruleForm = ref()
      const login = (): void => {
        console.log(data.form.phone + data.form.password);
            api
                .login({ phone: data.form.phone, password: data.form.password })
                .then((res: any) => {

                  const resp = res.data;
                  // if (resp.data == 'success') {
                  // alert("憨批北野")
                  if (res.code === 404) {
                    //登录框不消失
                    //弹出提示信息
                    message.error(res.msg);
                    return;
                  }
                  //其他错误时
                  if (res.code !== 200) {
                    if (res.code === 403) {
                      console.log(res.code + "111")
                      //提示对应的错误信息
                      message.error(res.msg);
                      return;
                    }
                    console.log(res.code + "111")
                    //提示对应的错误信息
                    message.error("登陆失败");
                    return;
                  }
                  message.success(res.msg);
                  // localStorage.setItem('token',res.token)
                  window.localStorage.setItem('user',JSON.stringify(res.data));
                  ruleForm.value.resetFields()
                  window.location.reload();
                  router.push('/');
                })
                .catch((err: Error) => {
                  console.log(err);
                });
      };
      return {
        ...toRefs(data),
        login,
        ruleForm
      };
    },
  });
</script>

<style scoped lang='scss'>
  .form{
    padding:25px;
  }
  .form-item{
    margin-bottom:20px;
  }
  .signBtn {
    width: 100%;
  }
  .form-text{
    font-size:12px;
    color:#409EFF;
    text-align: right;
    line-height: 1;
  }
  .submit{
    width:100%;
  }
</style>